h1 {
  font-family: 'Century Gothic', sans-serif;
  font-size: 50px;
  color: #0C2340;
  background: #0000;
  margin: 0;
  padding: 0;
font-weight: bold;
}
h2 {
  font-family: 'Century Gothic', sans-serif;
  font-size: 30px;
  color: #0C2340;
  margin: 25px;
  padding: 0;
    font-weight: bold;
}
.img-size {
    position: relative;
    float: left;
    width:  200px;
    /*height: 200px;
    /*border-radius: 50%;
/*    height: 100px;*/
/*
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
*/
}
nav {
    background-color: black;
}
body {
    background-color: #f9f9f9;
    
}
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #00843D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #0C2340;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
    height: 100%;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/* Pop-Up Modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom .3s;
    animation: animatezoom .3s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.div{
    height: 100%;
}
 
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.menubar {
    background-color: transparent;
    min-height: 100px;
    height: 110px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    padding: 10px 0px 0px 0px;
    position: fixed;
    z-index: 10;
    overflow: hidden;
    #menubar-button-area {
   min-height: 110px;
   padding: 0px 0px 0px 0px;
   display: flex;
    margin-left: auto;
    margin-right: auto;
   justify-content: space-between;
   max-width: 500px;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.menu-button {
	background-color:whitesmoke;
    height: 100px;
    width: 100px;
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
	border-radius:100px;
    display: block;	
    color:slategray;
	font-family:Courier New;
	font-size:14px;
	font-weight:bold;
	padding: 0px 0px 0px 0px;
	text-decoration:none;
    text-align: center;
    line-height: 100px;
    display: inline-block;
    border        : 3px solid rgb(128,128,128);
    z-index: 10;
}


.menu-button:hover {
	background-color:#A6D785;
    border        : 3px solid rgb(245,245,245);
    color: whitesmoke;
    cursor: pointer;
}
.menu-button:active {
	position:relative;
	top:1px;
   	background-color:#A6D785;
    color: whitesmoke;
    border        : 3px solid rgb(245,245,245);

}